
@{
    ViewBag.Title = "QuanLySanPham";
}

<img src="~/Image/Logo.png"/>

<table>
    <tr>
        <td>
            <button type="button" class="btn">Tìm Kiếm Sản Phẩm</button>
            <button type="button" class="btn">Quản Lí Sản Phẩm</button>
            <button type="button" class="btn">Quản Lí Giỏ Hàng</button>
            <button type="button" class="btn">Quản Lí Đơn Hàng</button>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td>
            <p>Nhập Thông Tin Sản Phẩm</p>
            <table>
                <tr>
                    <td>Mã</td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td>Tên</td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td>Số lượng</td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td>Giá</td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td>Xuất xứ</td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td>Thời gian bảo hành</td>
                    <td><input type="text" /></td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><button type="button" class="btn">Search</button></td>
                    <td><button type="button" class="btn">Delete</button></td>
                    <td><button type="button" class="btn">Update</button></td>
                </tr>
            </table>
        </td>
        <td>
            <p>Thông Báo Update</p>
            <table>
                <tr>
                    <td>Mã</td>
                    <td>Tên</td>
                    <td>Số Lượng</td>
                    <td>Giá</td>
                    <td>Xuất Xứ</td>
                    <td>TGBH</td>
                </tr>
                <tr>
                    <td>AK/3000CHGB</td>
                    <td>AK Nữ kim loại bạc</td>
                    <td>12</td>
                    <td>2.000.000</td>
                    <td>Mỹ</td>
                    <td>1 Năm</td>
                </tr>
                <tr>
                    <td>PU4013-07H</td>
                    <td>Citizen Nam da đen</td>
                    <td>3</td>
                    <td>2.500.000</td>
                    <td>Mỹ</td>
                    <td>1 Năm</td>
                </tr>
                <tr>
                    <td>PU4013-07H</td>
                    <td>Citizen Nam da nâu chữ nhật</td>
                    <td>5</td>
                    <td>3.500.000</td>
                    <td>Mỹ</td>
                    <td>1 Năm</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

